<!DOCTYPE html>

<html ng-app="expressO">

<head>
<title>Express-O</title>
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700|Pacifico">
<link rel="stylesheet" type="text/css"
	href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/css/xeditable.css">
<link rel="stylesheet" type="text/css"
	href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
<link href="static/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link rel="stylesheet"
	href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
<link href="static/css/launchrocket.css" rel="stylesheet"
	type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="mainController">

	<div class="container">
		<h2 class="logo">Express-O</h2>

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle"
						ng-init="navCollapsed = true"
						ng-click="navCollapsed = !navCollapsed">

						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a href="#/" class="navbar-brand logo">Home</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse"
					ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
					<ul class="nav navbar-nav navbar-right">

						<li><a ng-href="#/recipes" id="drinkRecipesLink">Drink Recipes</a></li>
						<li><a ng-href="#/ingredients" id="drinkIngredientLink">Drink Ingredients</a></li>

						<li><a href="#/bakeryGoods" id="bakeryGoodLink">Bakery Goods</a></li>
					</ul>
				</div>
			</div>
		</nav>


		<div class="jumbotron">

			<div id="main">
				<div ng-view></div>
			</div>

			<div class="teaser">


				<hr class="launchrocket signup">
				<div class="social">
					<h4>
						<a href="#" target="_blank"> <i class="fa fa-facebook"></i>
						</a> <a href="#" target="_blank"> <i class="fa fa-twitter"></i>
						</a> <a href="#" target="_blank"> <i class="fa fa-google-plus"></i>
						</a>
					</h4>
				</div>
			</div>
		</div>
		<img src="static/img/coffeeShop.jpg" id="bgimg"> <img
			src="static/img/bg.png" id="bgimgfoundation">
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
	<script
		src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/js/xeditable.js"></script>

	<script src="static/js/app.js"></script>

	<script src="static/js/viewServices/coffeeDrinkViewService.js"></script>
	<script
		src="static/js/viewControllers/addCoffeeDrinkRecipeViewController.js"></script>
	<script src="static/js/viewControllers/coffeeDrinkViewController.js"></script>

	<script src="static/js/viewServices/drinkIngredientViewService.js"></script>
	<script
		src="static/js/viewControllers/addDrinkIngredientViewController.js"></script>
	<script
		src="static/js/viewControllers/drinkIngredientViewController.js"></script>

	<script src="static/js/viewServices/bakeryGoodViewService.js"></script>
	<script src="static/js/viewControllers/addBakeryGoodViewController.js"></script>
	<script src="static/js/viewControllers/bakeryGoodViewController.js"></script>

	<script
		src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
</body>
</html>