
<div class="jumbotron text-center teaser">
	<h2 class="logo">New Ingredient</h2>

	<form role="form" name="addDrinkIngredient" ng-submit="save()">

		<div class="form-group">
			<p>Ingredient Name:</p> <input type="text"
				name="drinkIngredientName"
				ng-model="drinkIngredient.drinkIngredientName" class="form-control form-control allLinedUp" required pattern=".*\S.*" id="ingredientNameInput">
		</div>

		<div class="form-group">
			<p>Unit of Measure:</p>
			<select ng-model="drinkIngredient.unitOfMeasurement" ng-options="u.unitOfMeasurementName for u in unitsOfMeasurement" class="form-control allLinedUp" required id="select">
</select>
		</div>
		
		<div class="form-group">
			<p>Cost per Unit:</p> <input type="text"
				name="drinkIngredientCost"
				ng-model="drinkIngredient.drinkIngredientCost" class="form-control" required pattern="[0-9]+(\.[0-9][0-9])?" id="ingredientCostInput">
		</div>

		<button type="submit"><span
			class="glyphicon glyphicon-ok" aria-hidden="true" id="addIngredient"></span></button>
			<a href="#/ingredients" class="deco-none-return"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></a>

	</form>
</div>