<div class="jumbotron text-center teaser">
	<h3 class="logo">Coffee Drink Recipe</h3>

	<form role="form" name="addCoffeeDrinkRecipe" ng-submit="save()">


		<div class="form-group">
			<p>Recipe Name:</p>
			<input type="text" name="coffeeDrinkName"
				ng-model="coffeeDrink.coffeeDrinkName" class="form-control" required
				pattern=".*\S.*" id="coffeeDrinkNameInput">
		</div>

		<div class="form-group">
			<p>Ingredients:</p>

			<span ng-if="coffeeDrink.coffeeDrinkRecipe.length == 0">Add
				Ingredients to Recipe</span>

			<div class="row" ng-repeat="ingredientInRecipe in coffeeDrink.coffeeDrinkRecipe" ng-if="coffeeDrink.coffeeDrinkRecipe.length > 0">
				<div class="ingredient col-sm-11">
				{{ingredientInRecipe.drinkIngredient.drinkIngredientName}}
				{{ingredientInRecipe.ingredientInRecipeAmount}}
				{{ingredientInRecipe.drinkIngredient.unitOfMeasurement.unitOfMeasurementName}}<span ng-if="ingredientInRecipeAmount.ingredientInRecipeAmount > 1">s</span>
				</div>
				<div class="glyphicon glyphicon-remove col-sm-1" aria-hidden="true" ng-click="removeDrinkIngredient(ingredientInRecipe)"></div>
			</div>

			<div class="spacer"></div>

			<div class="allLinedUp row">
				<div class="col-sm-5">
					<select class="form-control" ng-model="drinkIngredient.drinkIngredient"
						ng-options="a.drinkIngredientName for a in drinkIngredients | filter: checkForRedundantIngredient"
						id="select"><option value="" disabled selected>Select
							Ingredient</option>
					</select>
				</div>
				
			   <div class="col-sm-4">
				<input type="number" ng-model="ingredientInRecipeAmount.ingredientInRecipeAmount"
					   class="form-control" placeholder="amount" id="ingredientInRecipeAmount" pattern="[0-9]+(\.[0-9][0-9])?">
			   </div>

				<div class="col-sm-2">
				{{drinkIngredient.drinkIngredient.unitOfMeasurement.unitOfMeasurementName}}<span
					ng-if="drinkIngredient.drinkIngredient && ingredientInRecipeAmount.ingredientInRecipeAmount > 1">s</span>
				</div>
				
				<div class="col-sm-1 glyphicon glyphicon-plus" aria-hidden="true" ng-click="addNewDrinkIngredient()" id="addIngredient"></div>
			</div>
		</div>

		<button type="submit">
			<span class="glyphicon glyphicon-ok" aria-hidden="true" id="addRecipe"></span>
		</button>
		<a href="#/recipes" class="deco-none-return"><span
			class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></a>

	</form>
</div>