
<div class="jumbotron text-center teaser" id="recipeView">
	<a ng-href="#/addBakeryGood" class="deco-none"><span
		class="glyphicon glyphicon-plus" aria-hidden="true"
		id="addBakeryGoodLink"></span> </a>

	<h2>Bakery Goods</h2>
</div>

<div class="jumbotron text-center teaser drinkBox"
	ng-repeat="bakeryGood in bakeryGoods | orderBy:'bakeryGoodName'">

	<form editable-form name="editBakeryGoodForm"
		onaftersave="saveEditedBakeryGood(bakeryGood)"
		oncancel="cancel(bakeryGood)">

		<div class="spacer" ng-show="editBakeryGoodForm.$visible"></div>
		<div class="spacer" ng-show="editBakeryGoodForm.$visible"></div>
		<span editable-text="bakeryGood.bakeryGoodName"
			e-name="bakeryGoodName" e-required e-pattern=".*\S.*"><h2>{{bakeryGood.bakeryGoodName}}</h2></span>

		<div class="spacer" ng-show="editBakeryGoodForm.$visible"></div>

		<span editable-text="bakeryGood.bakeryGoodCost"
			e-name="bakeryGoodCost" e-required e-pattern="[0-9.]+">{{
			bakeryGood.bakeryGoodCost | currency : '$' : 2}}</span> <span
			editable-select="bakeryGood.bakeryGoodCategory"
			e-name="bakeryGoodCategory"
			e-ng-options="b.bakeryGoodCategoryName for b in bakeryGoodCategories track by b.bakeryGoodCategoryId">
			{{ bakeryGood.bakeryGoodCategory.bakeryGoodCategoryName }}</span> <br>

		<div class="spacer" ng-show="editBakeryGoodForm.$visible"></div>

		From: <span editable-text="bakeryGood.bakeryGoodVendor"
			e-name="bakeryGoodVendor" e-required>{{
			bakeryGood.bakeryGoodVendor}}</span> <br>

		<div class="spacer" ng-show="editBakeryGoodForm.$visible"></div>

		<span ng-show="bakeryGood.allergens.length == 0">Allergens:
			None</span> <span ng-show="bakeryGood.allergens.length == 1">Allergen:</span>
		<span ng-show="bakeryGood.allergens.length > 1">Allergens:</span>

		<div class="row" ng-repeat="allergen in bakeryGood.allergens | filter: {deleted: '!true'}">
		<div class="col-sm-2"></div>
			<div
				
				class="col-sm-8">
				<span
					editable-select="bakeryGood.allergens[bakeryGood.allergens.indexOf(allergen)]"
					e-name="allergen{{$index}}"
					e-ng-options="a.allergenName for a in (allergens | filter:checkForRedundantAllergen(editBakeryGoodForm.$data, $data)) track by a.allergenId">
					{{allergen.allergenName }}</span>
			</div>
			<div class="col-sm-2">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"
					ng-show="editBakeryGoodForm.$visible && bakeryGood.allergens.length > 0"
					ng-click="markAllergenForRemoval(allergen)"></span>
			</div>
		</div>

		<div class="row">
		<div class="col-sm-2"></div>
			<div class="col-sm-8"></div>

			<div class="col-sm-2">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"
					ng-click="addNewAllergen(bakeryGood)"
					ng-show="editBakeryGoodForm.$visible"></span>
			</div>
		</div>
		<br>
		<div class="spacer"></div>
		<span class="glyphicon glyphicon-remove" aria-hidden="true"
			ng-show="!editBakeryGoodForm.$visible"
			ng-click="removeBakeryGood(bakeryGood)"></span> <span
			class="glyphicon glyphicon-pencil" aria-hidden="true"
			ng-click="editBakeryGoodForm.$show()"
			ng-show="!editBakeryGoodForm.$visible"></span>
		<button type="submit">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"
				ng-show="editBakeryGoodForm.$visible"></span>
		</button>
		<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"
			ng-show="editBakeryGoodForm.$visible"
			ng-click="editBakeryGoodForm.$cancel()"></span>
	</form>
</div>