<div class="jumbotron text-center teaser" id="recipeView">

	<a ng-href="#/addRecipe" class="deco-none" id="addRecipeLink"><span
		class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>

	<h3>Coffee Drink Recipes</h3>
</div>

<div class="jumbotron text-center teaser drinkBox"
	ng-repeat="coffeeDrink in coffeeDrinks | orderBy:'coffeeDrinkName'">
	<form editable-form name="editCoffeeDrinkForm"
		onaftersave="saveEditedCoffeeDrink(coffeeDrink)"
		oncancel="cancel(coffeeDrink )">

		<div class="spacer" ng-show="editCoffeeDrinkForm.$visible"></div>


		<span class="coffeeDrinkName">
			<span editable-text="coffeeDrink.coffeeDrinkName"
				e-name="coffeeDrinkName" e-required><h2>{{coffeeDrink.coffeeDrinkName}}</h2></span>
		</span>

		<div class="spacer" ng-show="editCoffeeDrinkForm.$visible"></div>

		<div
			ng-repeat="ingredientInRecipe in coffeeDrink.coffeeDrinkRecipe | filter: {deleted: '!true'}"
			ng-if="coffeeDrink.coffeeDrinkRecipe.length > 0" class="allLinedUp">

			<div class="row">
<div class="col-sm-2"></div>
				<div class="col-sm-2">
					<span editable-text="ingredientInRecipe.ingredientInRecipeAmount"
						e-name="coffeeDrinkIngredientAmount{{$index}" e-required placeholder="Amount">{{ingredientInRecipe.ingredientInRecipeAmount}}</span>
				</div>
				<div class="col-sm-2">
					<span ng-if="!editCoffeeDrinkForm.$visible"> {{
						ingredientInRecipe.drinkIngredient.unitOfMeasurement.unitOfMeasurementName
						}}<span ng-if="ingredientInRecipe.ingredientInRecipeAmount > 1">s</span>
					</span>
					<span ng-if="editCoffeeDrinkForm.$visible">{{
						editCoffeeDrinkForm['drinkIngredient' +
						$index].$modelValue.unitOfMeasurement.unitOfMeasurementName }} <span
						ng-if="editCoffeeDrinkForm['coffeeDrinkIngredientAmount' + $index].modelValue > 1">s</span>
					</span>
				</div>

				<div class="col-sm-4">

					<span editable-select="ingredientInRecipe.drinkIngredient"
						e-name="drinkIngredient{{$index}}"
						e-ng-options="d.drinkIngredientName for d in (drinkIngredients | filter:checkForRedundantIngredient(editCoffeeDrinkForm.$data, $data)) track by d.drinkIngredientId"
						class="allLinedUp">
						{{ingredientInRecipe.drinkIngredient.drinkIngredientName}}</span>
						</div>
						<div class="col-sm-2">
						<span
						class="glyphicon glyphicon-remove" aria-hidden="true"
						ng-show="editCoffeeDrinkForm.$visible"
						ng-click="markDrinkIngredientForRemoval(ingredientInRecipe)"></span>

				</div>

				<br>

			</div>
		</div>

		<br>
		<div class="row">
			<div class="col-sm-9"></div>
			<div class="col-sm-3">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"
					ng-click="addNewDrinkIngredient(coffeeDrink)"
					ng-show="editCoffeeDrinkForm.$visible"></span>
			</div>
		</div>

		<br> <span class="glyphicon glyphicon-remove" aria-hidden="true"
			ng-show="!editCoffeeDrinkForm.$visible"
			ng-click="removeCoffeeDrink(coffeeDrink)"></span> <span
			class="glyphicon glyphicon-pencil" aria-hidden="true"
			ng-click="editCoffeeDrinkForm.$show()"
			ng-show="!editCoffeeDrinkForm.$visible" id="editPencil"></span>
			
			<button type="submit"><span
			class="glyphicon glyphicon-ok" aria-hidden="true"
			ng-show="editCoffeeDrinkForm.$visible"></span></button>
			
			<span
			class="glyphicon glyphicon-ban-circle" aria-hidden="true"
			ng-show="editCoffeeDrinkForm.$visible"
			ng-click="editCoffeeDrinkForm.$cancel()"></span>
	</form>
</div>