.uib-dropdown-menu {
	min-width: 130px;
}

.glyphicon {
	font-size: 40px;
	line-height: 40px;
	cursor: pointer;
}

.deco-none {
	color: #FFFFFF !important;
	text-decoration: none;
	font-size: 40px;
	margin-right: 0;
	float: right;
}

.deco-none-return {
	color: #FFFFFF !important;
	text-decoration: none;
	font-size: 40px;
}

input, select {
	color: #555;
}

button {
	-webkit-appearance: none;
	outline: none;
	border: 0;
	background: transparent;
}

.spacer {
	height: 20px;
}

#select {
	-webkit-appearance: menulist-button;
    background: #f8f8f8;
    height: 35px;
	display: inline-block;
}

.selectNumber {
	width: 20%;
	display: inline-block;
}

.allLinedUp {
	height: 40px;
	line-height: 40px;
}

.allLinedUp div {
	height: 100%;
}

.allLinedUp select, .allLinedUp input {
	width: 100%;
	display: inline;
}

div.ingredient {
	line-height: 40px;
	font-size: 20px;
}